body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #fff;
  }

  .movie-header {
    padding: 20px;
    background-color: #333;
    text-align: center;
  }

  .movie-header h1 {
    margin: 0;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .movie-list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
  }

  .movie-tile {
    background-color: #444;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .movie-tile:hover {
    background-color: #555;
  }

  .movie-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }

  .movie-title {
    font-weight: bold;
    margin-top: 10px;
  }

  .movie-year {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .movie-info {
    float: right;
  }

  .search-area {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .search-area input {
    width:30%;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
  }

  .search-button {
    display: inline-block;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #45a049;
  }
  
  .search-button:active {
    background-color: #3e8e41;
  }

  .view-more-btn {
    margin-left: 46%;
    margin-right: 46%;
    margin-top: 40px;
    background-color: #3e8e41;
    border-radius: 8px;
    padding: 5px;
    color: white;
    width: 15%;
    height: 40px;
  }

  .filter-input {
    height: 35px;
  }

  .loading {
    margin-left: 46%;
    margin-right: 46%;
    width: 50px;
    height: 50px;
    border: 3px solid #ccc;
    border-radius: 50%;
    border-top-color: #333;
    animation: spin 1s ease-in-out infinite;
    
  }
  
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .movie-list {
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .movie-list {
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .movie-list {
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .movie-list {
        grid-template-columns: repeat(3,1fr);
        grid-gap: 20px;
    }
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .movie-list {
        grid-template-columns: repeat(4,1fr);
        grid-gap: 20px;
    }
  }
  
 